In [2]:
temperature = 28
if temperature > 20:
    print("Heatwave warning!")

Heatwave warning!

In [5]:
temperature = 16

if temperature > 20:
    print("Heatwave warning!")
elif temperature < 10:
    print("The usual.")
else:
    print("Perfect")

Perfect

# Loops

In [6]:
numbers = [1, 2, 3, 4]

for number in numbers:
    print(number * 2)

2
4
6
8

In [7]:
person = {
    "name": "Del",
    "age": 63,
    "languages": ["English", "Terrible Puns"]
}

for value in person.values():
    print(value)

Del
63
['English', 'Terrible Puns']

In [8]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [10]:
even_numbers = []

In [11]:
for number in numbers:
    if number % 2 == 0:
        even_numbers.append(number)
        
print(even_numbers)

[6, 2, 2, 6]

# List comprehensions

In [15]:
numbers = [1, 2, 3, 4]
numbers_squared = []

In [16]:
for number in numbers:
    numbers_squared.append(number * number)
    
print(numbers_squared)

[1, 4, 9, 16]

In [17]:
numbers_squared = [number * number for number in numbers]

numbers_squared

[1, 4, 9, 16]

In [20]:
multiples_of_12 = []
for number in range(101):
    if number % 12 == 0:
        multiples_of_12.append(number)
        
multiples_of_12

[0, 12, 24, 36, 48, 60, 72, 84, 96]

In [21]:
[number for number in range(101) if number % 12 == 0]

[0, 12, 24, 36, 48, 60, 72, 84, 96]

In [22]:
words = ["apple", "orange", "lemon"]

length_of_words = {word: len(word) for word in words}

In [23]:
length_of_words

{'apple': 5, 'orange': 6, 'lemon': 5}

In [ ]:
# first loop
primes = []
for i in range(2, 100):
    if i % 2 != 0 and i % 3 != 0 and i % 5 != 0 and i % 7 !=0 and i % 11 != 0:
        primes.append(i)

# second loop
ordinal_dict = {}

for number in range(4, 11):
    ordinal_dict[number] = str(number) + 'th'

In [27]:
primes = [i for i in range(2, 100) if i % 2 != 0 and i % 3 != 0 and i % 5 != 0 and i % 7 !=0 and i % 11 != 0]
primes

[13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [26]:
ordinal_dict = {number: str(number) + "th" for number in range(4,11)}
ordinal_dict

{4: '4th', 5: '5th', 6: '6th', 7: '7th', 8: '8th', 9: '9th', 10: '10th'}